{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{% block title %}E-Learning{% endblock %}</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% tailwind_css %}
	</head>
    <body class="bg-slate-100">
        <div class="px-4 h-28 flex  bg-blue-950 mb-4 justify-between"> <!--The Header-->
            <p class="text-3xl text-white font-bold leading-loose tracking-widest">E-Learning</p>
            <ul class="text-white flex flex-col items-center m-2">
                {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">  
                    {% csrf_token %}     
                    <button type="submit" class="text-xl">
                        <div class="flex justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 rounded-full">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                            </svg>
                        </div>
                            <p>Sign Out</p>
                    </button>
                </form> 
                {% else %}
                <li><a href="{% url 'login' %}" class="text-xl">
                    <div class="flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 rounded-full">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                            </svg>
                    </div>
                    <p>Sign In</p>
                </a></li>
                {% endif %}
            </ul>
        </div>       
        {% block content %}
        {% endblock content %}
        {% block include_js %}
        {% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                {% block domready %}
                {% endblock %}
            })
        </script>
    </body>
</html>
