{% extends "base.html" %}

{% block title %}
  Edit "{{ course.title }}"
{% endblock %}

{% block content %}
  <div class="text-2xl leading-10 tracking-widest uppercase w-full text-center mb-4 text-blue-950 font-extrabold">Edit "{{ course.title }}"</div>
  <div>
    <h2 class="text-2xl font-extrabold text-blue-950 px-5 p-2 border-b-4 border-blue-950 text-center">Course modules</h2>
    <form method="post" class="flex flex-col p-4 items-center">
      {{ formset.management_form }}
      {% for form in formset %}
          {% for field in form %}
              {% if field.field.widget.input_type == 'checkbox' %} <!--Begin Delete Checkbox-->
                  <label for="{{ field.id }}" class="text-xl font-mono">{{ field }}  <em>{{ field.label }}</em> above module</label>
              {% elif field.field.widget.input_type == 'text' %} <!--Begin Text Input-->
                  <div class="m-2">
                    <p class="text-xl p-2 text-blue-950">{{ field.label_tag }}</p>
                    <input type="text" class="w-[500px] h-auto" name="{{ field.name }}" value="{{ field.value }}">
                  </div>
              {% elif field.field.label|lower == 'Description'|lower %}
                  <div class="m-2"> <!--Begin TextArea input-->
                    <p class="text-xl p-2 text-blue-950">{{ field.label_tag }}</p>
                    <textarea name={{ field.name }} class="w-[500px] h-32">{{ field.value }}</textarea>
                  </div>
              {% endif %}
          {% endfor %}
      {% endfor %}
      {% csrf_token %}
      <input type="submit" value="Save modules" class="bg-blue-950 hover:bg-blue-900 w-[390px] h-16 rounded-2xl text-xl  text-white shadow-2xl flex items-center justify-center mt-4">
    </form>

    
  </div>
{% endblock %}
